---
layout: blog
title: index
permalink: /
---
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
            <div class="container">
                <!-- NOTE HEADER for Navbar -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.title }}</span></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                        <li><a class="page-scroll" href="#page-top"><span data-i18n="nav.home">{{ site.landing.home }}</span></a></li>
                        <li><a class="page-scroll" href="#about_me"><span data-i18n="nav.about_me">{{ site.landing.about }}</span></a></li>
                        <li><a class="page-scroll" href="#career"><span data-i18n="nav.career">{{ site.landing.career }}</span></a></li>
                        <li><a class="page-scroll" href="#skills"><span data-i18n="nav.skills">{{ site.landing.skills }}</span></a></li>
                        <li><a class="page-scroll" href="#project"><span data-i18n="nav.projects">{{ site.landing.projects }}</span></a></li>
                        <!-- <li><a class="page-scroll" href="#blog"><span data-i18n="nav.blog">{{ site.landing.blog }}</span></a></li> -->
                        <li><a class="page-scroll" href="#link"><span data-i18n="nav.link">{{ site.landing.link }}</span></a></li>

                        <!-- i18n -->
                        <!-- <li><a class="btn btn-sm set_en"><img src="{{"static/img/flags/United-States.png"| prepend: site.baseurl }}" height="16px" width="16px"></a></li> -->
                        <!-- <li><a class="btn btn-sm set_cn"><img src="{{"static/img/flags/China.png"| prepend: site.baseurl }}" height="16px" width="16px"></a></li> -->

                    </ul>
                </div>
            </div>
        </nav>
</div>

<section id="about_me" class="features">
    <div class="container" id="i18_about_me">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Hello! I'm <span class="navy">{{ site.data.landing.about.title }}</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 wow fadeInLeft">
                <div class="team-member">
                    <div class="vote-icon">
                        <i class="icon-python"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 wow fadeInLeft">
                <div class="team-member">
                    <div class="vote-icon">
                        <i class="icon-javascript"></i>
                    </div>
                </div>
            </div>
            <!-- avatar -->
            <div class="col-xs-4">
                <div class="team-member wow zoomIn">
                    <img src="{{ site.author.head_img | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                    <h4>{{ site.data.landing.about.role }}</h4>
                    <ul class="list-inline social-icon">
                        <li><a href="https://github.com/{{ site.author.github_username }}" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                        <!-- <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a></li> -->
                        <!-- <li><a href="{{ site.url}}/feed.xml" target="blank"><i class="fa fa-rss"></i></a> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2 wow fadeInRight">
                <div class="team-member">
                    <div class="vote-icon">
                        <i class="icon-angular"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 wow fadeInRight">
                <div class="team-member">
                    <div class="vote-icon">
                        <i class="icon-ubuntu"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
              <p><span>{{site.data.landing.about.intro}}</span></p>
            </div>
        </div>
    </div>
</section>

<section id="career" class="timeline features gray-section">
    <div class="container" id="i18_career">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span data-i18n="career.my_career">{{site.data.landing.career-title}}</span></h1>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                  {% for item in site.data.landing.career %}
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="{{item.icon_cls_attr}}"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <h2><span>{{item.name}}</span></h2>
                            <p><span>{{item.description}} </span></p>
                            <!-- TODO create link to support description -->
                            <span class="vertical-date"><span> {{item.from}} </span>
                            <br/>
                            <small><span>{{item.job_title}}</span></small> </span>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>

<section id="skills" class="team features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" id="i18_skills">
                <div class="navy-line"></div>
                <h1><span>{{site.data.landing.skills-title}}</span></h1>
            </div>
        </div>
        <div class="row features-block">

          {% for skill in site.data.landing.skills %}
            <div class="row">
                <div class="col-lg-2 col-lg-offset-2 features-text wow fadeInLeft">
                  <span><strong>{{skill.name}}</strong></span></br>
                  <span>{{skill.prof}}</span>
                </div>
              <div class="col-lg-7 features-text wow fadeInLeft">
                <div class="progress progress-bar-default">
                  <div class="progress-bar" style="width: {{skill.level}}%" aria-valuenow="{{skill.level}}" aria-valuemax="100" aria-valuemin="0" role="progressbar" ></div>
                </div>
              </div>
            </div>
            </br>
          {% endfor %}

        </div>
    </div>
</section>

<section id="project" class="project gray-section features">
    <div class="container" id="i18_projects">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span data-i18n="projects.my_projects">{{ site.data.landing.projects-title }}</span></h1>
            </div>
        </div>

        <div class="row">
          {% for proj in site.data.landing.projects %}
            <div class="col-sm-6 wow {{proj.cls_attr}}">
                <div class="team-member">
                    <a href="{{ proj.url  }}" target="_blank" style="color: #1ab394" class="navy">
                      <img src="{{ proj.img | prepend: site.baseurl }}" class="img-responsive img-circle img-small" alt="">
                      <h4>{{ proj.name }}</h4>
                    </a>
                    <p><span data-i18n="projects.saplatform">{{ proj.description }}</span></p>
                </div>
            </div>
          {% endfor %}
        </div>

    </div>
    <br>
</section>

<!-- <section id="blog" class="navy-section testimonials" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn" id="i18_blog">
                <br><br><br>
                <a class="btn btn-lg btn-default btn-rounded btn-outline" href="/blog/"><span data-i18n="blog.my_blog">My Blog</span></a>
                <br><br><br>
            </div>
        </div>
    </div>
</section> -->

<section id="link" class="contact features">
    <div class="container" id="i18_link">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span data-i18n="link.link">Link</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="team-member wow zoomIn">
                    <h4><span class="navy">{{ site.author.last_name }}</span> {{ site.author.first_name }}</h4>
                    <p>
                        {{ site.author.description }}
                    </p>
                    <ul class="list-inline social-icon">
                        <!-- <li><a href="{{ site.author.link }}" target="blank"><i class="fa fa-link"></i></a></li> -->
                        <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <!-- <p id="jalpc_site_pv"><strong>&copy; 2017 {{ site.title }}</strong></p> -->
                <!-- <img src="http://www.reliablecounter.com/count.php?page=www.jack003.com3&digit=style/black-and-white/3/&reloads=0" alt="" title="" border="0">&nbsp;<span data-i18n="link.view">views</span> || -->
                <!-- <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
                <!-- <span id="busuanzi_container_site_pv"><strong id="busuanzi_value_site_pv"></strong>&nbsp;views.&nbsp;</span>|| -->
            </div>
        </div>
    </div>
</section>



<script>
    $(document).ready(function () {
        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });
    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                //$(header).addClass('navbar-scroll')
            }
            else {
                //$(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
    // Activate WOW.js plugin for animation on scrol
    new WOW().init();
</script>
